{% extends "contacts/base.html" %}

{% block content %}
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      {% for field in field_list %}
        <th>{{ field.verbose_name }}</th>
      {% endfor %}
    </thead>
    <tbody>
      {% for company in company_list %}
        <a href="{% url 'contacts:companydetail' company.pk %}">
          <tr>
            <td />
            <td>{{ company.id }}</td>
            <td>{{ company.first_name }}</td>
            <td>{{ company.middle_name }}</td>
            <td>{{ company.last_name }}</td>
            <td>{{ company.rec_date }}</td>
            <td>{{ company.email }}</td>
          </tr>
        </a>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
