{% extends "contacts/base.html" %}

{% block content %}

{% if objects %}
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        {% for field in fields %}
          <th>{{ field.verbose_name }}</th>
        {% endfor %}
      </thead>
      <tbody>
        {% for contact in objects %}
          <tr>
            <td />
            <td>{{ contact.id }}</td>
            <td>{{ contact.first_name }}</td>
            <td>{{ contact.middle_name }}</td>
            <td>{{ contact.last_name }}</td>
            <td>{{ contact.rec_date }}</td>
            <td>{{ contact.email }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}

{% endblock %}
