{% extends "contacts/base.html" %}

{% block content %}
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      {% for field in field_list %}
        <th>{{ field.verbose_name }}</th>
      {% endfor %}
    </thead>
    <tbody>
      {% for contact in contact_list %}
        <a href="{% url 'contacts:persondetail' contact.pk %}">
          <tr>
            <td />
            <td>{{ contact.id }}</td>
            <td>{{ contact.first_name }}</td>
            <td>{{ contact.middle_name }}</td>
            <td>{{ contact.last_name }}</td>
            <td>{{ contact.rec_date }}</td>
            <td>{{ contact.email }}</td>
          </tr>
        </a>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
